<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Cars App</title>
  </head>
  <body>
    <a href="/">Cars</a>
    {{{body}}}
  </body>
</html>
